<div class="home">
  <h1>Photo Marketplace</h1>
  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-field">
      <input matInput placeholder="Tytuł zdjęcia" [(ngModel)]="searchText">
    </mat-form-field>
  </div>


  <div class="gallery">
    <mat-card *ngFor="let photo of filteredPhotos()">
      <div class="photo-wrapper">
        <img mat-card-image [src]="photo.imageUrl" alt="Photo" class="photo-img">
        <div *ngIf="photo.owner_id === currentUserId" class="watermark">Twoje zdjęcie</div>
        <div *ngIf="photo.owner_id !== currentUserId && !isPhotoPurchased(photo.id)" class="watermark">Kup zdjęcie</div>
        <div *ngIf="photo.owner_id !== currentUserId && isPhotoPurchased(photo.id)" class="watermark">Kupiono</div>
      </div>
      <mat-card-title>{{ photo.title }}</mat-card-title>
      <mat-card-subtitle>{{ photo.description }}</mat-card-subtitle>
      <mat-card-subtitle>{{ photo.amount }} PLN</mat-card-subtitle>
      <mat-card-subtitle>Autor: {{ photo.owner_username }}</mat-card-subtitle>
      <mat-card-actions>
        <button *ngIf="photo.owner_id !== currentUserId && !isPhotoPurchased(photo.id)" mat-raised-button
                (click)="openDialog(photo)">
          Kup zdjęcie
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
