<div class="home">
  <h1>Photo Marketplace</h1>
  <div class="gallery">
    <mat-card *ngFor="let photo of photos">
      <img mat-card-image [src]="'http://localhost:8080/get-photo/' + photo.file_path" alt="Photo">
      <mat-card-title>{{ photo.title }}</mat-card-title>
      <mat-card-subtitle>{{ photo.description }}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button (click)="openDialog('0ms', '0ms')">Buy photo</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
