.home {
  text-align: center;
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  width: 250px;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-field {
  width: 100%;
  max-width: 400px;
}

mat-card {
  width: 300px;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-image {
  height: 200px;
  object-fit: cover;
}

mat-card-title {
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


.photo-wrapper {
  position: relative;
  display: inline-block;

  .photo-img {
    width: 100%;
    display: block;
  }

  .watermark {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px 8px;
    font-size: 22px;
    font-weight: bold;
    pointer-events: none;
  }
}
